@model TeachingCU
<form class="new-unit" asp-controller="TeachingCU" asp-action="Add">
    <input type="submit" class="action-btn add-btn add-unit" value="إضافة وحدة">
    <input asp-for="@Model.Name">
    <input asp-for="@Model.TeachingCategoryId" value="@ViewData["CategoryId"]" hidden class="display-none"/>
</form>
