@model TeachingCUL
<div class="lesson-page">
    <iframe width="100%" height="100%" allowfullscreen
            src="@Model.VideoLink">
    </iframe>
    <div class="btn">
        <a href="@Model.PdfLink">pdf</a>
        <a href="" hidden class="display-none">
            أسئلة علي الدرس
        </a>
    </div>
</div>
